footer.footer
  .footer__wrapper.col-3
    .footer__icon.col-1
      a(href="#")
        img.footer__img(src="/assets/img/ocb-5.svg" alt="O.C.B Logo")
        
    .footer__links.col-1  
      h3.footer__links-title Links
      ul.footer__links-list
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        
    .footer__form.col-1
      h3.footer__links-title Links
      ul.footer__links-list
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
        li
          a.footer__links-link(href="#") link-Item
