mixin nav-content()
    ul.nav__list
      li.nav__item
        a.nav__link(href="#") link-Item
      li.nav__item
        a.nav__link(href="#") link-Item
      li.nav__item
        a.nav__link(href="#") link-Item
      li.nav__item
        a.nav__link(href="#") link-Item
      li.nav__item
        a.nav__link(href="#") link-Item

  

header.header
  .header__bg-skew
    .header__bg-img
    
  .col-3.flex
    .header__logo-nav-wrap
      a.header__logo(href="#") 
      
      .hamburger
        span.hamburger__bars
      
      nav.nav
        +nav-content()
      
      
    .header__title-wrap
      h1.header__title  Lorem ipsum dolor sit
      p.header__desc Lorem ipsum dolor sit amet, consectetur adipisicing consectetur adipisicing elit. Ratione autem, quam veniam iste officia dolores molestiae ut illum eligendi modi!Lorem ipsum dolor sit amet, consectetur adipisicing consectetur adipisicing elit. Ratione autem, quam veniam iste officia dolores molestiae ut illum eligendi modi!
  
    .header__cta-wrap
      a.cta.col-1(href="#") Accept
      a.cta.col-1.cta--red(href="#") Read More
      a.cta.col-1.cta--orange(href="#") Read Even More

  
