section.product#products
  .product__wrap.col-3.flex
    h2.product__title Our Product Range
    
    .product__items-wrap
      .product__item-row
        a.product__item.col-1(href="https://example.net/comment.php" target="_blank")
          img.product__img(src="/assets/img/products/small_product_10.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        a.product__item.col-1(href="https://example.net/comment.php" target="_blank")
          img.product__img(src="/assets/img/products/small_product_15.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        a.product__item.col-1.product__item--hidden(href="https://example.net/comment.php" target="_blank")
          img.product__img(src="/assets/img/products/small_product_13.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
            
      .product__item-row
        a.product__item.col-1(href="https://example.net/comment.php" target="_blank")
          img.product__img(src="/assets/img/products/small_product_16.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        a.product__item.col-1(href="https://example.net/comment.php" target="_blank")
          img.product__img(src="/assets/img/products/small_product_11.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        a.product__item.col-1.product__item--hidden(href="https://example.net/comment.php" target="_blank")
          img.product__img(src="/assets/img/products/small_product_14.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
      
      .product__item-row    
        a.cta.col-1.cta--red(href="https://example.net/comment.php" target="_blank") Visit Our Shop
