section.parallax
  .parallax__wrap
    .parallax__text-wrap.col-3
      h2.parallax__title.parallax--desc Parallax is Awesome!!!
      h2.parallax__title.parallax--mob Mobile alternative!
      
      p.parallax__content.parallax--desc <strong>DESKTOP</strong> desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop desktop 
      p.parallax__content.parallax--mob <strong>MOBILE</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit molestias veniam facilis voluptates consectetur
