section.product
  .product__wrap.col-3.flex
    h2.product__title Our Product Range
    
    .product__items-wrap
      .product__item-row
        .product__item.col-1
          img.product__img(src="http://www.designskilz.com/random-users/images/imageF4.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        .product__item.col-1
          img.product__img(src="http://www.designskilz.com/random-users/images/imageM29.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        .product__item.col-1.product__item--hidden
          img.product__img(src="http://www.designskilz.com/random-users/images/imageF19.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
            
      .product__item-row
        .product__item.col-1 
          img.product__img(src="http://www.designskilz.com/random-users/images/imageM12.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        .product__item.col-1 
          img.product__img(src="http://www.designskilz.com/random-users/images/imageF31.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
          
        .product__item.col-1.product__item--hidden
          img.product__img(src="http://www.designskilz.com/random-users/images/imageF10.jpg" alt="product name")
          h3.product__name Product Name
          p.product__price $100
